/* GENERAL PAGE LAYOUT */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

/* NAVIGATION BUTTONS */
.nav-bar {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    gap: 15px;
}

.nav-btn {
    background-color: #ffcc00;
    color: black;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* MAIN PROFILE SECTION */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 50px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border: 8px solid #cc0000;
    border-radius: 12px;
    object-fit: cover;
}

/* BIO + SOCIAL */
.bio-column {
    width: 420px;
    text-align: left;
}

.artist-name {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

.bio-text {
    font-size: 16px;
    line-height: 1.45;
    margin-bottom: 20px;
}

.social-icons img {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

/* GALLERY IMAGES */
.gallery {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.gallery-img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
    border: 6px solid #0070ff;
}
